/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

@charset 'UTF-8';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #e3e0e0;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077FF;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
  --fundo-form: #f5f5f5;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  background-color: var(--fundo-principal);
}

header {
  background-color: var(--destaque);
}

header ul {
  display: flex;
  justify-content: end;
  list-style-type: none;
}

header li {
  margin: 15px 20px 5px 20px;
}

header li:hover {
  background-color: var(--destaque-inverso);
  fill: var(--destaque);
  transition: .35s;
}

.icons_head {
  fill: #ffffff;
}

header button {
  border: none;
  background-color: transparent;
}

main {
  display: grid;
  grid-template-columns: 0px 1fr 0px;
}

main h1 {
  color: var(--destaque);
}

.cards{
  padding: 20px;
  margin: 20px 15px 0px 15px;
  background-color: var(--fundo-card);
  border-radius: 15px;
}

aside {
  grid-column: 2 / -3;
}

aside figure {
  width: 200px;
  margin: auto;
}

aside img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 5px;
  border-radius: 50%;
  border: solid 5px var(--destaque);
}

section {
  grid-column: 2 / -3;
}

#apresenta iframe {
  max-width: 100%;
  height: auto;
}

#skills ul {
  list-style-type: none;
}

#projetos img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


/*@media screen and (min-width: 768px) {
  
}*/