/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

@charset 'UTF-8';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

aside{
  background-color: rgba(255, 0, 0, 0.384);
  grid-column: 2 / -3;
}

section{
  background-color: rgba(172, 255, 47, 0.356);
  grid-column: 3 / -2;
}

main{
  display: grid;
  grid-template-columns: 2% 1fr 3fr 2%;
}

